/* Page layout styles */
.container {
    max-width: 960px;
    width: 100%;
    background-color: #ffffff;
}

.body-container {
    border: solid;
    border-width: 1px;
    border-color: #dddddd; 
}

/* Navigation styles */
.navbar {
    background-color: #ffffff;
    padding: 0px;
    padding-bottom: 0px;
    margin-bottom: 1.25rem;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #cccccc; 
}

.navbar-brand {
    background-color: #4aaaa5;
    color: white !important;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1rem;
}

.navbar-toggler {
    margin: 0.5rem;
}

/* Footer styles */
.page-footer {
    background-color: #666666;
}

.footer-copyright {
    color: white;
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
}

/* Font styles */
a:hover {
    color: #4aaaa5 !important;
}

.card-title {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #dddddd; 
    padding-bottom: 1rem;
}